body {
  font-family: "Fira Sans", serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* Nav section styles started */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
}
.nav-logo {
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
}
.nav-btn {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 106, 80, 1);
  border: 1px solid rgba(0, 106, 80, 1);
  border-radius: 8px;
  padding: 15px 30px;
}
/* Navbar section styles ended */

/* Banner Section styles Started */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  height: 560px;
  max-width: 1280px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 30px;
}
.banner-title {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
}
.banner-description {
  color: rgb(14, 14, 14);
  font-size: 56px;
  font-weight: 700;
  margin-top: 16px;
}
.banner-btn {
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background: rgb(0, 106, 80);
  border-radius: 8px;
  border: none;
  padding: 17px 34px;
}
/* Banner section styles ended */

/*Pillars of bangladesh section styles started  */
.bd-pillars {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 80px;
}

.bd-pillars-title {
  font-size: 40px;
  font-weight: 700;
  color: rgb(14, 14, 14);
}
.bd-pillars-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 34px;
}
.bd-pillar {
  width: 302px;
  height: 230px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 22px;
}
.bd-pillar-card-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
}
.bd-pillar-card-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
}
/* Pilars of bangladesh section style Ended */

/* Visions section style started */
.vision-section {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 80px;
}
.vision-section-title {
  font-size: 40px;
  font-weight: 700;
  color: rgb(14, 14, 14);
}
.vision-section-description {
  color: rgba(14, 14, 14, 0.7);
}
.visions-card-container {
  display: flex;
  text-align: left;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
  margin-top: 30px;
}
.vision-card {
  border-radius: 16px;
  width: 410.67px;
  height: 250px;
  padding: 32px;
}
.vision-card-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
}

.vision-card-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  width: 290px;
}
.vision-card1 {
  background: rgba(84, 144, 245, 0.2);
}
.vision-card2 {
  background: rgb(198, 228, 214);
}
.vision-card3 {
  background: rgb(247, 235, 207);
}
.vision-btn {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 11px 20px;
}
.vision-btn1 {
  background: rgb(84, 144, 245);
  margin-top: 24px;
}
.vision-btn2 {
  background: rgb(9, 161, 92);
  margin-top: 24px;
}
.vision-btn3 {
  background: rgb(255, 194, 57);
  margin-top: 24px;
}
